my_bigball/app/Photos/Photos.apk
my_bigball/app/Browser/Browser.apk
my_bigball/priv-app/Messages/Messages.apk
my_bigball/priv-app/OppoGallery2/OppoGallery2.apk
system_ext/apex/com.android.vndk.v30.apex
system_ext/app/NetworkAssistSys/NetworkAssistSys.apk
system_ext/priv-app/SystemUI/SystemUI.apk
system_ext/priv-app/Settings/Settings.apk
my_heytap/app/WebViewGoogle/WebViewGoogle.apk
my_heytap/app/Gmail2/Gmail2.apk
my_heytap/app/StdSP/StdSP.apk
my_heytap/priv-app/Velvet/Velvet.apk
my_heytap/priv-app/GmsCore/GmsCore.apk
odm/etc/camera/model/license.lic
odm/etc/camera/license_release_fdc.lic
odm/etc/fad/license.lic
vendor/lib64/mt6983/libaibc_tuning.so
my_stock/del-app/OppoRelax/OppoRelax.apk
my_stock/app/AIUnit/AIUnit.apk
my_stock/priv-app/Games/Games.apk
my_product/app/OplusCamera/OplusCamera.apk
