system_ext/priv-app/SystemUI/SystemUI.apk
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
my_bigball/priv-app/OppoGallery2/OppoGallery2.apk
my_bigball/priv-app/Messages/Messages.apk
my_bigball/app/Photos/Photos.apk
bootRE/boot.elf
my_stock/del-app/OppoRelax/OppoRelax.apk
my_product/app/OplusCamera/OplusCamera.apk
boot.img
recovery.img
modem.img
vendor_boot.img
my_heytap/priv-app/Velvet/Velvet.apk
my_heytap/priv-app/GmsCore/GmsCore.apk
my_heytap/app/WebViewGoogle/WebViewGoogle.apk
odm/lib64/libCipParameter0.so
odm/lib64/libCipParameter2.so
odm/lib64/libCipParameter3.so
odm/etc/camera/license_release_fdc.lic
odm/etc/camera/model/license.lic
