#Configuration info
[ProjectInfo]
    Project = 21871

[capModePIPSceneSpecialSize] #done
    #key                                width   height   duration
    size[0]                       =     960;    1080;    33333333;
    size[1]                       =     640;    720;     0;
    size[2]                       =     480;    272;     0;
    size[3]                       =     368;    368;     0;
    size[4]                       =     320;    184;     0;
    size[5]                       =     240;    240;     0;
    size[6]                       =     640;    368;     33333333;
    size[7]                       =     464;    464;     33333333;
    size[8]                       =     432;    240;     0;
    size[9]                       =     320;    320;     0;

[RectifyStreamDuration] #done
    #key                                width   height   duration
    size[0]                       =     3264;    2448;   33333333;
    size[1]                       =     3264;    1840;   33333333;
    size[2]                       =     3264;    1632;   33333333;

[PerformanceCommon]
                #NORMAL  #Professional  #FullPortait  #CommonVideo  #FrontPortait  #CapModeMask
    NeedSkipFd = 0x8001; 0x8009;        0x8011;       0x800B;       0x8026         #0xF0FF  To Force Enable
    SmartPoolSizeOpen = 300
    EnableAppStreamUX = true
    Enable3AThreadUX = true
    EnableP2StreamUX = true
    Enable3ABindCPU = true
    Enablemoss3ABindCPU = true
    EnableAppStreamPriority = true
    EnableP2StreamPriority = true
    EnableFDPriority = true

[UXThreadConfig]
    sensorPowerOn = true

[FeatureCommon]
    ExifComment = oplus_
    SwitchTrack = true
    SwitchSod = true
    SatFDZoomRatioEnable  =  false
    #              [camId][Pkg]           Flip      Orientation
    OrientationInfo[1][com.android.mms] = 1;        270;
    OplusSetNeonParamFlag = 0;
    SwitchSMVRCPUControl = true
    isSupportCustomAWB = false

[TuningSupernightMode] #some projects need customized flash_ae_params, please check it carefully. If the sensor does not trigger flash in supernight, just type in default flash_ae_params 160000; 140000; 120000; 110000; 80000; 80000; 32; 32; 32; 25; 20; 10;
    #           sensorId    handheld_ae_params[12]                                                         face_ae_params[12]                                                            flash_ae_params[12]                                                           tripod_ae_params[2]
    Mode[0]  =  0x089F;     250000; 77000;  60000;  60000;  50000;  30000;  256; 200; 150; 150; 100;  64;   250000; 77000;  60000;  60000;  50000;  30000;  256; 200; 150; 150; 100; 64;  250000; 77000;  60000;  60000;  50000;  30000;  256; 200; 150; 150; 100; 64;  1250000; 100
    Mode[1]  =  0x3118;     250000; 250000; 250000; 200000; 170000; 140000; 200; 150; 150; 100; 100; 64;    250000; 250000; 250000; 200000; 170000; 140000; 200; 150; 150; 100; 100; 64;    250000; 250000; 250000; 200000; 170000; 140000; 200; 150; 150; 100; 100; 64;    5000000; 16
    Mode[2]  =  0x0364;     200000; 100000;  80000;  70000; 60000; 50000;   78;  78;  64;  48;  32; 32;     200000; 100000;  80000;  70000; 60000; 50000;  78;  78;  78;  64;  48; 32;    160000; 140000; 120000; 110000; 80000; 80000;  32;  32;  32;  32;  32; 32;    200000; 78

[FeatureNightModeAssitManualRatio] # supernight manual AE by openid
    manualAEForNonTriop = 1

[FeatureVideoNight]
    Switch = true

[FaceUnlockAPP]
    support = true

[FeatureVideoFDPeriodConfig]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               66   #default value

[SOISSettingMap]
    # key      CapMode    camId        SOISMode
    Mode[0]  = 0x8010;     0;             5     # Halfportait
    Mode[1]  = 0x8011;     0;             5     # Fullportait
	Mode[2]  = 0x80a5;     0;             5     # centerringon

[FeatureEISDebug]
    supportMTKEIS = true
    supportTPEIS = true
    forceEis60FPS = false
    supportEISModeLossless = false
    enableOIS = true

[FeatureEISTypeMap]
    #VideoEisMode    operation_mode    open_id    feature_mask    isMTKEIS    isTPEIS    TPEIS_isFaceInfo    TPEIS_isSwitch    TPEIS_Qcount
    Mode[0] =           0x800B;            0;         0;             1;          0;              0;               0;                0          #normal video rear
    Mode[1] =           0x800B;            1;         0;             0;          0;              0;               0;                0          #normal video front
    Mode[2] =           0x800B;            0;         1;             0;          0;              0;               0;                0          #4k video
    Mode[3] =           0x800B;            2;         0;             1;          0;              0;               0;                0          #video eis
    Mode[4] =           0x8021;            0;         0;             1;          0;              0;               0;                0          #60fps video
    Mode[5] =           0x8028;            0;         0;             1;          0;              0;               1;               30          #super eis
    Mode[6] =           0x802B;            1;         0;             1;          0;              1;               1;               30          #super eis front
    Mode[7] =           0x80A4;            0;         0;             1;          0;              0;               0;                0          #film video eis
    Mode[8] =           0x80A4;            2;         0;             1;          0;              0;               0;                0          #film wide video eis
    Mode[9] =           0x80A7;            0;         0;             1;          0;              0;               0;                0          #videonight rear
    Mode[10] =          0x80A7;            1;         2;             1;          0;              0;               0;                0          #videonight front + eis
    Mode[11] =          0x802C;            0;         3;             1;          0;              0;               0;                0          #PIP video rear master
    Mode[12] =          0x800C;            0;         0;             1;          0;              0;               0;                0          #delay video eis
[FeatureFSCSwitch]
    supportFSC = false

[CustomEISFactor]
    #             CapMode          camId     eisfactor
    Mode[0]  =    0x80A7;          0;         119    #AIVideo main

[EISCustomCalibration]
    CustomNum = 6

[SystemCamSensorSettingMap]
    # key      CapMode    thirdAppCall      camId       yuvSizeW     imgSizeW      video       imageRation      scenarioId
    Mode[0]  = 0x8028;         -1;           0;           -1;           -1;         -1;             -1;               3    # CapModeVideoSuperEis
    Mode[1]  = 0x8028;         -1;           2;           -1;           -1;         -1;             -1;               3    # CapModeVideoSuperEis
    Mode[2]  = 0x800B;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeCommonVideo
    Mode[3]  = 0x8009;         -1;           3;           -1;           -1;         -1;             -1;               1    # Professional
    Mode[4]  = 0x802C;         -1;           0;           -1;           -1;         -1;             -1;               2    # dualview
    Mode[5]  = 0x80A3;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFilmVideo
    Mode[6]  = 0x80A4;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFilmVideoEis
    Mode[7]  = 0x800C;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFastVideo
    Mode[8]  = 0x80A7;         -1;           0;           -1;           -1;         -1;             -1;               3    # CapModeVideoNight
    Mode[9]  = 0x802B;         -1;           1;           -1;           -1;         -1;             -1;               2    # CapModeVideoSuperEisFront
    Mode[10] = 0x8001;         -1;           1;           -1;           -1;         -1;             -1;               0    # CapModeCommonFront
    Mode[11] = 0x8021;         -1;           0;           -1;           -1;         -1;             -1;               3    # CapMode60FpsVideo
    Mode[12] = 0x9005;         -1;           0;           -1;           -1;         -1;             -1;               3    # OisCalib

[ThirdCamSensorSettingMap]
    # key     pkgName                                        camId       video     thirdOpMode  imageRation     yuvSizeW         yuvSize       imgSize     scenarioId
    com.tencent.mobileqq[0]                     =             1;          -1;          -1;          -1;             -1;            -1;            -1;           2    #
    com.tencent.mobileqq[1]                     =             0;          -1;          -1;          -1;             -1;            -1;            -1;           2    #
    com.tencent.mm[0]                           =             1;          -1;          -1;           -1;            -1;            -1;            -1;           2    #
    com.tencent.mm[1]                           =             0;          -1;          -1;           -1;            -1;            -1;            -1;           2    #
    com.ss.android.ugc.aweme[0]                 =             1;          -1;          -1;          -1;             -1;            -1;            -1;           2    #
    com.ss.android.ugc.aweme[1]                 =             0;          -1;          -1;          -1;             -1;            -1;            -1;           2    #

[ThirdCamSensorSettingMapByActivity]
    # key              activityName                                  camId   apiLevel    video     thirdOpMode  imageRation     yuvSizeW         yuvSize       imgSize     scenarioId
    com.tencent.mm.plugin.multitalk.ui.MultiTalkMainUI[0]  =          1;        -1;       -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.tencent.mm.plugin.multitalk.ui.MultiTalkMainUI[1]  =          0;        -1;       -1;          -1;           -1;            -1;            -1;            -1;            0    #

[CameraCustomRrzoSize]
    # key activityName/AppName                                                   camId      operationMode       width         height
    com.tencent.mm.plugin.recordvideo.activity.MMRecordUI[0]             =          0;          -1;             1922;         864;            0               #
    com.tencent.mm.plugin.recordvideo.activity.MMRecordUI[1]             =          1;          -1;             1922;         864;            0               #
    AllCamApp[0]                                                         =          0;       0x8028;            2112;         1184                            #rear super eis
    AllCamApp[1]                                                         =          2;       0x8028;            2112;         1184                            #wide super eis

[oplusCheckStreamFrontCam]
    #key                                openId     width    height
    config[0]                     =     1;         2304;    1728;

[OsenseActivityNameConfigMap]
    # key  pkgName                                                        osense action <=1280                 osense action >1280
    com.tencent.mm.plugin.voip.ui.VideoActivity                       =  OSENSE_ACTION_3RD_CAM_VIDEO_CALL;     OSENSE_ACTION_3RD_CAM_VIDEO_CALL
    com.whatsapp.voipcalling.VoipActivityV2                           =  OSENSE_ACTION_3RD_CAM_VIDEO_CALL;     OSENSE_ACTION_3RD_CAM_VIDEO_CALL
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsenseCallerPackageNameNameConfigMap]
    # key  pkgName                                      osense action <=1280                osense action >1280
    com.google.android.youtube                       =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsensePackageNameConfigMap]
    # key  pkgName                      osense action <=1280                    osense action >1280
    com.tencent.mm              =  OSENSE_ACTION_CAMERA_3RD_PARTY_LOW_POWER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.ss.android.ugc.aweme    =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.snapchat.android        =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.android.incallui        =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.zhiliaoapp.musically    =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.facebook.katana         =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.whatsapp                =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.instagram.android       =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.google.android.youtube  =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.smile.gifmaker          =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.ig              =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mobileqq        =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.eg.android.AlipayGphone =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;        OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF

[OrmsActivityNameConfigMap]
    # key  pkgName                                                        orms action <=1280                 orms action >1280
    com.tencent.mm.plugin.voip.ui.VideoActivity                       =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.whatsapp.voipcalling.VoipActivityV2                           =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER; ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsCallerPackageNameNameConfigMap]
    # key  pkgName                                      orms action <=1280                orms action >1280
    com.google.android.youtube                       =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsPackageNameConfigMap]
    # key  pkgName                      orms action <=1280                orms action >1280
    com.tencent.mm              =  ORMS_ACTION_3RD_CAM_WECHAT_VIDEO_CALL; ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.ss.android.ugc.aweme    =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.snapchat.android        =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.android.incallui        =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.zhiliaoapp.musically    =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.facebook.katana         =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.whatsapp                =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.instagram.android       =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.google.android.youtube  =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.smile.gifmaker          =  ORMS_ACTION_3RD_CAM_VIDEO_MIDPERF;     ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.ig              =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mobileqq        =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.eg.android.AlipayGphone =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF

[OrmsRunDelayframes]
    # key  pkgName                Delayframes
    com.tencent.mobileqq        =  90
    com.ss.android.ugc.aweme    =  30

[PowerRealTimeCallback4FdMeta]
     # Mdde         opmode    camId    RealTimeCallback
     SysCam[0] =     -1;        -1;        0

[AppMapFastLaunchRequestNum]
    android                 = 4
    com.whatsapp            = 4
    com.tencent.mm          = 4
    client.pid              = 4

[OperationModeMapFastLaunchRequestNum]
    #operation mode       operation_mode    RequestNum
    Mode[0]         =     0x8009;           0               #StreamConfigCapModeProfessional
    Mode[1]         =     0x80a4;           0               #StreamConfigCapModeFilmVideoEis
    Mode[2]         =     0x80a3;           0               #StreamConfigCapModeFilmVideo

[oplusBssLeftEnable]
    BssLeftEnable  =  true

[FeatureBinSumTransMap]
    #index    SensorDev    isTrans
    index[0] = 1;         0;
    index[1] = 2;         1;
    index[2] = 4;         0;

[oplusSterCaliDacSupport]
    SterCaliDacSupport  =  true

[isReleaseDBEnabled]
    isReleaseDBEnabled = true

[systemCamMappingEAppCustom]
    #key                                EAppCustom
    fastVideo                     =     11;
    commonVideo                   =     11;
    panorama                      =     10;
    superNight                    =     -1;
    TimeLapse                     =     16;
    professional                  =     7;
    portrait                      =     20;
    ai_shutter                    =     33;
    slowVideo                     =     11;
    default                       =     -1;
    common                        =     -1;
    VideoHDR                      =     32;
    VideoSuperEis                 =     35;
    PIPScene                      =     34;

[thirdPartyCamMappingEAppCustom]
    #key                                EAppCustom
    EApp_MTKCam                   =     0;
    com.tencent.mobileqq          =     3;
    com.tencent.mm                =     4;
    jp.naver.line.android         =     2;
    raxes.starlocator             =     2;

[FeatureMfnrConfig]
    #key                                               value
    com.linecorp.b612.android                     =     1;
    com.commsource.beautyplus                     =     1;
    com.tencent.mobileqq                          =     1;
    com.tencent.mm                                =     1;
    com.snapchat.android                          =     1;
    vStudio.Android.Camera360                     =     1;
    com.gorgeous.lite                             =     1;
    com.tencent.wework                            =     1;
    com.alibaba.android.rimet                     =     1;
    com.mt.mtxx.mtxx                              =     1;
    com.meitu.meiyancamera                        =     1;
    com.whatsapp                                  =     1;
    com.instagram.android                         =     1;
    com.facebook.katana                           =     1;
    com.facebook.orca                             =     1;
    com.facebook.mlite                            =     1;
    com.zhiliaoapp.musically                      =     1;
    com.intsig.camscanner                         =     1;
    com.itc.wts88051_autotest                     =     1;
    com.gorgeous.lite                             =     1;
    com.cyberlink.youperfect                      =     1;
    com.benqu.wuta                                =     1;
    com.tencent.zebra                             =     1;
    com.xhey.xcamera                              =     1;
    com.cyberlink.youperfect                      =     1;
    com.lemon.faceu                               =     1;
    com.campmobile.snowcamera                     =     1;
    com.kuaiduizuoye.scan                         =     1;
    com.youdao.dict                               =     1;
    com.tencent.ttpic                             =     1;
    com.kwai.m2u                                  =     1;
    com.dw.btime                                  =     1;
    com.smile.gifmaker                            =     1;
    com.ss.android.ugc.aweme                      =     1;
    com.google.android.apps.tachyon               =     1;
    com.joeware.android.gpulumera                 =     1;


[camIdxMapType]
    # 0x01,   "AT+CAMERA_OPEN"                    -- rear (main)
    # 0x02,   "AT+CAMERA_FRONT_OPEN"              -- front
    # 0x32,   "AT+CAMERA_BACK_WIDE_OPEN"          -- rear wide
    # 0x04,   "AT+CAMERA_BACK_MACRO_OPEN"         -- rear macro
    # camIdx def in oplus_ATA.cpp, dstIdx def in IHalSensor.h

    #[srcIdx]                         camIdx    dstIdx
    index[0]                     =     0x01;     0x01;
    index[1]                     =     0x02;     0x02;
    index[2]                     =     0x32;     0x04;
    index[3]                     =     0x04;     0x10;

[EepromDataStyle]
    Style = 0; #Common style
    writeEepBypass = false; #default no bypass

[Flashlightduty]
    #torch duty
    duty  =  0
    #duty number
    dutyNum = 16
    #duty numberLT
    dutyNumLT = 0
    # if flash current is no Suitable,change current table;
    current_table = 94;188;281;375;468;562;656;750;843;937;1031;1125;1218;1312;1406;1500;

[FlashQuick2CalibrationExp]
    exp = 3000
    afe = 3567
    isp = 4096

[checksumsensorlist]
    # sensoridx                       otp_size
    checksumsensor[0]            =    0x4000
    checksumsensor[1]            =    0x4000
    checksumsensor[2]            =    0x4000
    checksumsensor[4]            =    0x2000

[ModuleShowInfoMap]
    #                    sensorID        sensorName     sensorVersion
    sensorIdx[0]  =      0x089F;         IMX890;        0.91
    sensorIdx[1]  =      0x3118;         S5K3P9SP;      0.91
    sensorIdx[2]  =      0x0364;         IMX355;        0.91
    sensorIdx[4]  =      0x02EF;         GCO2M1;        0.91

[FeatureDualCam]
    #       [Id]        =  cam1_img_crop[4]: ofst_x;  ofst_y;  width;  height;     cam2_img_crop[4]: ofst_x;  ofst_y;  width;  height;
    CaliData[0x089f]    =                        0;       0;   8192;    6144;                           -1;      -1;     -1;      -1;
    CaliData[0x0364]    =                       -1;      -1;     -1;      -1;                          488;     368;     -1;      -1;

[oplusDisablePrvSeamlessSwitch]
    DisablePrvSeamlessSwitch  =  true

[FeatureSmallSizeHalDejitterConfig]
    #key                                               value
    autotest.oplus.com.simulatedlivebroadcast           =     1;

[CustomSensorModeSMVR]
    Mode  =    6

[SupportedImageSizesGSI]
    #                 width  height
    ImageSizes[0]  =  4096; 3072    # 4:3        main photo
    ImageSizes[1]  =  3264; 2448    # 4:3        uw photo
    ImageSizes[2]  =  3840; 2160    # 16:9       video 4K
    ImageSizes[3]  =  2304; 1728    # 4:3        front photo
    ImageSizes[4]  =  2560; 1920
    ImageSizes[5]  =  2412; 1080
    ImageSizes[6]  =  2160; 1080    # 2:1
    ImageSizes[7]  =  1920; 1440    # 4:3
    ImageSizes[8]  =  1920; 1080    # 16:9       oplus video 1080P
    ImageSizes[9]  =  1440; 1080    # 4:3        oplus rear portrait
    ImageSizes[10]  = 1280; 960     # 4:3        SXGA
    ImageSizes[11] =  1280; 720     # 16:9       oplus video  720P
    ImageSizes[12] =  1088; 1088    # 1:1
    ImageSizes[13] =  720;  480     # 3:2        480P
    ImageSizes[14] =  640;  480     # 4:3        VGA
    ImageSizes[15] =  352;  288     # 16:13      CIF
    ImageSizes[16] =  320;  240     # 4:3        QVGA
    ImageSizes[17] =  176;  144     # 16:13

[PowerChange3rdCamFps]
    # key  CallerPackageName                                                   openId       fpsMin       fpsMax
    com.whatsapp.voipcalling.VoipActivityV2[0]                                  =  1;           5;          24
    com.kuaishou.live.anchor.basic.activity.LivePushActivity[0]                 = -1;           5;          15
    com.tencent.av.ui.AVActivity[0]                                             = -1;           5;          15
    com.ss.android.ugc.aweme.live.LiveBroadcastActivity[0]                      = -1;           5;          15

[FeatureSeamless]
    Switch = true

[FeatureOKIBuild]
    isOKIBuild    =    true

[AfterSaleCalibration]
    SaleCalSensorID = 0x89F

[FpsgoCtrl]
    enable = true;

[FpsgoGroupSetting]
    #systemCam video scene
    Mode[0] =  0x0203c300;   14;       0x0203c000;  0;        0x0203c900;   0;   0x02064400; 1; 0x03008000; 0;  0x0206ce00; 0; 0x02040400; 0; 0x0206cc00; 10; 0x02020000; 10; 0x02048500; 3; 0x0143c100; 2; 0x00400000; 500000; 0x00404000; 1000000; 0x00400100; 500000; 0x00804000; 4; 0x00800000; 4; 0x00804100; 3; 0x00800100; 3; 0x00800200; 1; 0x00804200; 1; -1; -1
    Mode[1] =  0x0203c300;   14;       0x0203c000;  0;        0x0203c900;   0;   0x02064400; 1; 0x03008000; 1;  0x0206ce00; 0; 0x02040400; 0; 0x0206cc00; 10; 0x02020000; 10; 0x02048500; 3; 0x0143c100; 2; 0x00400000; 500000; 0x00400100; 500000; 0x00804000; 4; 0x00800000; 4; 0x00804100; 3; 0x00800100; 3; 0x00800200; 0; 0x00804200; 0; -1; -1
    Mode[2] =  0x0203c300;   14;       0x0203c000;  0;        0x0203c900;   0;   0x02064400; 1; 0x03008000; 0;  0x0206ce00; 0; 0x02040400; 0; 0x0206cc00; 10; 0x02020000; 10; 0x02048500; 3; 0x0143c100; 2; 0x00400000; 500000; 0x00404000; 1300000; 0x00400100; 500000; 0x00804000; 4; 0x00800000; 4; 0x00804100; 3; 0x00800100; 3; 0x00800200; 0; 0x00804200; 1; -1; -1
    #lowMem
    Mode[3]=  0x0203c300;   14;       0x0203c000;  14;       0x0203c900;  14;   0x02064400; 1; 0x03008000; 1;  0x0206ce00; 0; 0x02040400; 1; 0x0206cc00; 10; 0x02020000; 14; 0x02048500; 3; 0x00400000; 700000; 0x00404000; 1800000; 0x00400100; 800000;0x00400200; 1300000; 0x0143c100; 0; 0x00804000; 4; 0x00800000; 4; 0x00804100; 3; 0x00800100; 3; 0x00800200; 1; 0x00804200; 1; -1; -1
    Mode[4]=  0x0203c300;   14;       0x0203c000;  0;        0x0203c900;   0;   0x02064400; 1; 0x03008000; 0;  0x0206ce00; 0; 0x02040400; 0; 0x0206cc00; 10; 0x02020000; 14; 0x02048500; 3; 0x00400000; 500000; 0x00400100; 800000; 0x0143c100; 2; 0x00804000; 4; 0x00800000; 4; 0x00804100; 3; 0x00800100; 3; 0x00800200; 1; 0x00804200; 1; -1; -1
    Mode[5]=  0x0203c300;   14;       0x0203c000;  14;       0x0203c900;   14;   0x02064400; 1; 0x03008000; 1; 0x0206ce00; 0; 0x02040400; 1; 0x0206cc00; 10; 0x02020000; 14; 0x02048500; 3; 0x00400000; 500000; 0x00400100; 800000; 0x0143c100; 0; 0x00804000; 4; 0x00800000; 4; 0x00804100; 3; 0x00800100; 3; 0x00800200; 1; 0x00804200; 1; -1; -1
    #4k30fps video
    Mode[6] =  0x0203c300;   14;       0x0203c000;  0;        0x0203c900;   0;   0x02064400; 1; 0x03008000; 0;  0x0206ce00; 0; 0x02040400; 0; 0x0206cc00; 10; 0x02020000; 10; 0x02048500; 3; 0x0143c100; 2; 0x00400000; 800000; 0x00404000; 1000000; 0x00400100; 1200000; 0x00804000; 4; 0x00800000; 4; 0x00804100; 3; 0x00800100; 3; 0x00800200; 1; 0x00804200; 1; -1; -1

[FpsgoSysCamConfig]
    #factor   = configgroup; camera_id; operation;  width; fps; device_fold; ai_scene_enable; applyFor4kVideo;
    Mode[0]  =   0;           1;        0x800B;     1920; -1;      -1;           -1;              -1;
    Mode[1]  =  -1;           1;        0x800B;     1280; -1;      -1;           -1;              -1;
    Mode[2]  =   6;           0;        0x800B;     -1;   30;      -1;           -1;               1;
    Mode[3]  =   2;           0;        0x8028;     -1;   60;      -1;           -1;              -1;
    Mode[4]  =   0;          -1;        -1;         -1;   30;      -1;           -1;              -1;

[FpsgoSysCamConfigLowMem]
    #factor   = configgroup; camera_id; operation;  width; fps; device_fold; ai_scene_enable; applyFor4kVideo;
    Mode[0]  =   3;           0;        0x8021;     -1;   60;      -1;           -1;              1;
    Mode[1]  =   4;          -1;        0x8001;     -1;   -1;      -1;           -1;             -1;
    Mode[2]  =   5;          -1;        0x8011;     -1;   -1;      -1;           -1;             -1;

[UpdateFullSizeForPC12]
    SensorId = 1;

[CustomBokehMSGParam]
    bkMsgSwitch = true;
    #key               FaceWidthMax    FaceWidthMin    FocusDistanceMax    FocusDistanceMin    lvMaxThres    lvMinThres    lvSumThres    ISOThres
    CustomBkMsgValue = 2400;           250;            2000.0;             200.0;              25;           -25;          20;           8000;

[TuningCommon]
    TurborawExtraLux = true;

[PowerChangeFpsByThermal]
    # operateMode                                                      ctrl_code    camId  width   height  level  level0_fps level0_temp level1_fps level1_temp level2_fps level2_temp #VIDEO
    OplusSysCam[0]  =                                                   0x8021;       -1;   -1;     -1;     -1;       60;         37;         60;        39;         50;          41  # = 60FPS VIDEO
    OplusSysCam[1]  =                                                   0x800B;       -1;   -1;     -1;     -1;       30;         37;         26;        39;         26;          41  # = 30FPS VIDE
